body {
	margin: 0;
    font-family: sans-serif;
}

html {
	scroll-behavior: smooth;
}
/* Navbar */

.navbar {
	padding: 0% 10%;
}

.navbar-light .navbar-nav .nav-link {
	color: blue;
}

@media screen and (max-width: 1200px) {
	.navbar-brand > img {
		width: 450px;
	}

	.gallery-cell img {
		width: 150px;
		height: 150px;
	}
}

/* Search */

.search-div {
	padding: 5% 10% 8%;
	background-image: url("../images/homepage.jpg");
	background-size: 100%;
	background-attachment: fixed;
}

.search-label {
	font-size: 1.5rem;
	color: white;
}

.dept {
	background-color: white;
	margin: 0% 5px;
}

#inputState1 {
	margin-bottom: 3px;
	width: 250px;
}

.search-form {
	display: flex;
	flex-direction: row;
	padding-top: 2%;
}

.search-form button {
	width: 300px;
	height: 38px;
	margin: 1px 10px;
}

/* Counter */

#counter {
	padding: 5% 10% 5%;
}

.count-box {
	text-align: center;
	position: relative;
	background-color: rgb(246, 251, 254);
	padding: 30px 2px;
	box-shadow: 10px 5px 10px 5px #ececec;
}

.count-box i {
	position: absolute;
	top: -8px;
	left: 47%;
	color: blue;
	transform: scale(2, 2);
}

.count-box span {
	font-size: 2rem;
}

/* Professors */


.gallery {
	background: rgb(255, 255, 255);
	padding: 2px 10%;
}

/* .gallery-cell {
	text-align: center;
	align-items: center;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	background: white;
} */

/* cell number */

/* .gallery-cell:before {
	display: block;
	text-align: center;
	line-height: 200px;
	font-size: 80px;
	color: white;
} */

/* .gallery-cell img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.gallery-cell h2 {
	font-size: 20px;
} */

/* @media screen and (max-width: 1200px) {
	.gallery-cell {
		width: 50%;
	}
	.gallery-cell img {
		width: 150px;
		height: 150px;
	}
}
@media screen and (max-width: 600px) {
	.gallery-cell {
		width: 100%;
	}
} */
/* 
.gallery-cell .prof-stats {
	display: inline-block;
	vertical-align: top;
	justify-content: space-around;
} */


/* Footer */

.footer-div {
	background-color: rgb(48, 44, 44);
	color: white;
	font-size: 0.8rem;
	text-align: center;
	padding: 2% 10% 2% 10%;
}

p a, p a:hover, p a:active {
	text-decoration: none;
	color: inherit
}

