body {
    margin : 0;
}

/* Navbar */

.navbar {
	padding: 0% 10%;
}

.navbar-light .navbar-nav .nav-link {
	color: blue;
}

@media screen and (max-width: 1200px) {
	.navbar-brand > img {
		width: 450px;
	}

	.gallery-cell img {
		width: 150px;
		height: 150px;
	}
}

/* Search */

.search-div {
    padding: 2% 10% 5%;
    background-image: url("../images/homepage.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.search-label {
	font-size: 1.5rem;
	color: white;
}

.dept {
    background-color: white;
    margin: 0% 5px;
}

#inputState1 {
    margin-bottom: 3px;
}

/* Counter */

#counter {
    padding: 2.2% 10% 1%;
}

.count-box {
    text-align: center;
    position: relative;
    background-color: rgb(246, 251, 254);
    padding: 30px 2px;
    box-shadow: 10px 5px 10px 5px #ececec;
}

.count-box i {
    position: absolute;
    top: -8px;
    color: blue;
    transform: scale(2.4,2.4)
}

.count-box span {
    font-size: 2rem;
}

/* 
#wrapper {
    position:relative; 
    overflow:hidden; 
    width:50%;
    height: 100%; 
    margin:0px auto; 
    padding:0; 
    background-color:Grey;
    margin-left:150px;
    margin-right:150px
  }
  
  .glyphicon {
      font-size: 100px;
  }
  
  .caption {
      display: block;
  } */

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 500px;
    margin-right: 10px;
    background: lightgrey;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  
  .gallery-cell img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
  }

  .gallery-cell h2{
      font-size: 20px;
  }

  @media screen and (max-width: 1200px) {
    .gallery-cell{
        width: 50%;
    }
    .gallery-cell img{
        width: 150px;
        height: 150px;
    }    
}
@media screen and (max-width: 600px) {
	.gallery-cell {
		width: 100%;
	}
}

.gallery-cell .prof-stats {
	display: inline-block;
	vertical-align: top;
	justify-content: space-around;
}
