<about>
    <div id="about-section" class="row-cols-8 m-5">
        <h1 style="text-align: center">About IIITA Scholars</h1>
        <p style="text-align: justify; margin: 5% 5% 5% 0">
            Located in a beautiful wooden land of 100 acres, IIIT Allahabad
            is an internationally acclaimed centre for research and
            industrial consultancy in India. In this predominantly
            research-driven institute, around 550 faculty members, more than
            3000 MS, PhD research scholars and many undergraduate students
            are engaged in high-quality research work. One in every three
            students of the institute has mandatory research work as a part
            of his/her curriculum at some point. IIIT Allahabad also offers
            unique research driven post graduate program, MS(By Research)
            and a full-fledged doctoral research program, culminating in a
            PhD Degree. IIIT Allahabad also houses a “first-of-its-kind”, IIITA
            Research Park, which incubates start-ups and houses R&D
            Companies, bringing industry and academia, closer than ever
            before. The Research Park strives for innovative, high-tech
            collaboration bridging the gap between engineering education and
            industrial experience. Every year many students and researchers
            are honoured by multiple organizations for their patents and
            high quality research contributions. The institute churns out
            some of the best researchers of the country every year. These
            researchers have been making impactful contributions in the
            industries they work in. This portal is aimed at making
            available the research accomplishments of IIIT Allahabad Scholars in
            the public domain, so that prospective employers, potential
            collaborators and co-researchers from other institutions can
            locate and establish contact with research scholars, working in
            their respective areas of interest. This is aimed at increasing
            the visibility of the research work undertaken by the institute
            research community to the outside wo
        </p>
    </div>
</about>