<counter>
    <section id="counter">
        <div class="row counter-div">
            <div class="col-lg-3 col-md-6">
                <div class="count-box" data-aos="zoom-in" data-aos-delay="100" >
                    <i class="fas fa-user-friends"></i>
                    <span class="count">{{countFaculties}}</span>
                    <p>Faculties</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="count-box" data-aos="zoom-in" data-aos-delay="200" >
                    <i class="far fa-newspaper"></i>
                    <span class="count">{{countPublications}}</span>
                    <p>Publications</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="count-box" data-aos="zoom-in" data-aos-delay="300" >
                    <i class="fas fa-link"></i>
                    <span class="count">{{countOfCitation}}</span>
                    <p>Citations</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="count-box" data-aos="zoom-in" data-aos-delay="400" >
                    <i class="fas fa-graduation-cap"></i>
                    <span class="count">{{countDepartments}}</span>
                    <p>Departments</p>
                </div>
            </div>
        </div>
    </section>
</counter>