<footer>
    <section class="footer">
			<div class="footer-div">
				<p>
					<a href="https://iiita.ac.in/" target="_blank">Main Site</a> |
					<a href="https://iiita.ac.in/contact" target="_blank">Contact</a> |
					<a href="https://iiita.ac.in/rti" target="_blank">RTI</a> |
					<a href="https://iiita.ac.in/administration/" target="_blank">Administration</a>
				</p>
				Indian Institute of Information Technology Allahabad<br />
				Devghat, Jhalwa, Prayagraj-211015, U. P. INDIA<br />
				Phone: 91-532-2922025, Fax: 91-532-2922125, Email:
				contact@iiita.ac.in
			</div>
		</section>
</footer>