<graph>
    <div class="bar_graph" style="margin: 5% 20% 5% 20%">
        <canvas
            id="myChart"
            width="700"
            height="350"
            style="border: solid 0.5px grey"
        ></canvas>
    </div>
</graph>