 <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);

    var papers = {{{json articles}}}
    years = [];

    for (var i=0; i<papers.length; i++) {
      years.push(papers[i].year);
    }

    years.sort();

    var table = [["Year", "Citations", { role: "style" }]];

    var cnt = 1;
    for(var i=1; i<years.length; i++) {
      if (years[i] == years[i-1]) {
        cnt++;
      } else {
        table.push([years[i-1].toString(), cnt, '#54a2f0']);
        cnt = 1;
      }
    }

    for(var i=0; i<8; i++) {
      table.push([years[years.length-1].toString(), cnt, '#54a2f0']);
    } 

    function drawChart() {
      var data = google.visualization.arrayToDataTable(table);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Articles per year",
        width: 400,
        height: 400,
        bar: {groupWidth: "20"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("publication_values"));
      chart.draw(view, options);
  }
  </script>
<div id="publication_values" style="width: 100%; height: 100%;"></div>
