<searchbar>
    <section class="search-bar">
        <div class="dark-overlay">
            <form class="container" action="/publications/search" method="GET">
                <div class="form-row">
                    <div class="col-md-8 form-group">
                        <label >Search here...</label>
                        <input placeholder="Enter keywords" name="query" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Faculty</label>
                        <select class="search-type" name="faculty" id="search-options">
                            <option selected disabled>All</option>
                            {{#each faculties as |f|}}
                            <option value="{{f.name}}">{{f.name}}</option>
                            {{/each}}
                        </select>
                    </div> 
                </div>
                <div class="form-row">
                    <div class="col-md-3 form-group">
                        <label>Year</label>
                        <select class="search-type" name="year" id="search-options">
                            <option selected disabled>All</option>
                            {{#yearLoop 1973 2022 1}}
                                {{this}}
                            {{/yearLoop}}
                        </select>
                    </div>
                    
                    <div class="col-md-6 form-group">
                        <label>Department</label>
                        <select class="search-type" name="department" id="search-options">
                            <option selected disabled>All</option>
                            <option value="Department of Information Technology ">Information Technology</option>
                            <option value="Department of Electronics and Communication Engineering ">Electronics and Communication Engineering</option>
                            <option value="Department of Management Studies ">Management Studies</option>
                            <option value="Department of Applied Sciences ">Applied Sciences</option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <a href="http://localhost:4000/publications"><button class="btn btn-primary search-link" type="submit">Search</button></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</searchbar>