    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      var arts = {{{json articles}}}
      var types = []

      for(var i=0; i<arts.length; i++) {
        types.push(arts[i].type)
      }

      types.sort()

      content = [['Type', 'Count']]

      var cnt = 1;

      for(var i=1; i<types.length; i++) {
        if (types[i] == types[i-1]) {
          cnt ++;
        } else {
          content.push([types[i-1], cnt]);
          cnt = 1;
        }
      }

      content.push([types[types.length-1], cnt]);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(content);

        var options = {
          title: 'Publication Type',
          pieHole: 0.4,
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
  <div id="donutchart" style="width: 100%; height: 100%;"></div>
  
