    {{!-- <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      var arts = {{{json articles}}}
      var types = []

      for(var i=0; i<arts.length; i++) {
        types.push(arts[i].type)
      }

      types.sort()

      content = [['Type', 'Count']]

      var cnt = 1;

      for(var i=1; i<types.length; i++) {
        if (types[i] == types[i-1]) {
          cnt ++;
        } else {
          content.push([types[i-1], cnt]);
          cnt = 1;
        }
      }

      content.push([types[types.length-1], cnt]);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(content);

        var options = {
          title: '',
          pieHole: 0.4,
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
  <div id="donutchart" style="width: 100%; height: 100%;"></div> --}}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>

  var arts = {{{json articles}}}
  var types = []

  for(var i=0; i<arts.length; i++) {
    types.push(arts[i].type)
  }

  types.sort();
  content = [];
  var cnt = 1;

  for(var i=1; i<types.length; i++) {
    if (types[i] == types[i-1]) {
      cnt ++;
    } else {
      content.push([types[i-1], cnt]);
      cnt = 1;
    }
  }
  content.push([types[types.length-1], cnt]);

  Highcharts.chart('container2', {
  chart: {
    type: 'pie',
    options3d: {
      enabled: true,
      alpha: 45
    }
  },
  title: {
    text: 'Type of publication'
  },
  subtitle: {
    text: 'Source: Google Scholar'
  },
  plotOptions: {
    pie: {
      innerSize: 100,
      depth: 45
    }
  },
  series: [{
    name: 'Count',
    data: content,
  }]
});
</script>
  
