<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- CSS Files --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type=""/>

    <link rel="stylesheet" href="../css/profile.css" type="text/css"/>

    <title>Document</title>
</head>
<body>
    {{> header}}
    
    <section id="prof-content">
        <div class="row">
            <div class="prof-info col-lg-9">
                <div class="prof-header-img">
                    <img src="{{profData.avatar_url}}" alt="">
                </div>
                <div class="prof-header-content">
                    <p>{{profData.name}}</p>
                    <span>{{profData.status}}</span> <br>
                    <span>Department of {{profData.department}}</span>
                </div>

                <div class="prof-articles">
                    <div class="article-header">
                        <span>Articles</span>
                    </div>
                </div>
            </div>

            <div class="prof-stats col-lg-3">
                hello
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>