/* Faculties page */

.prof-list {
    margin: 3em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 1em;
}

.prof-list-item {
    text-align: center;
    margin: 0.5em auto;
    height: 100%;
    max-width: 400px;
    align-content: center;
    background: linear-gradient(180deg, #0d1f42 30%, #fff 0%);
    border: solid 1px #ececec;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.prof-avatar > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.prof-avatar,
.prof-info {
    padding: 1em 2em;
}

.prof-avatar {
    padding-top: 5em;
}

.prof-data-ids {
    text-align: left;
}

@media screen and (max-width: 1600px) {
    .prof-list {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 1200px) {
    .prof-list {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 840px) {
    .prof-list {
        grid-template-columns: auto;
    }
}

.btn {
    font-size: 14px;
    background-color: #1967d2;
    font-weight: 500;
    border: none;
    font-family: 'Helvetica';
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 300ms;
}

.btn:hover {
    background-color: #1967f2;
}

.profile-link {
    margin-top: 1em;
    width: 180px;
    padding: 1em 0.5em;
}

.prof-data {
    display: flex;
}
.count {
    align-items: right;
}
