body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}
/* Navbar */

.navbar {
    padding: 0% 10%;
}

.navbar-light .navbar-nav .nav-link {
    color: #000082;
}

@media screen and (max-width: 1200px) {
    .navbar-brand > img {
        width: 450px;
    }

    .gallery-cell img {
        width: 150px;
        height: 150px;
    }
}

/* Counter */

#counter {
    padding: 5% 10% 5%;
}

.count-box {
    text-align: center;
    position: relative;
    background-color: rgb(246, 251, 254);
    padding: 30px 2px;
    box-shadow: 10px 5px 10px 5px #ececec;
}

.count-box i {
    position: absolute;
    top: -8px;
    left: 47%;
    color: blue;
    transform: scale(2, 2);
}

.count-box span {
    font-size: 2rem;
}


/* search bar*/
.search-bar{
    width: 100%;
    max-height: 400px;
    background-image: url('../images/homepage.jpg');
}

.dark-overlay {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    max-height: 400px;
}

input, select {
    padding: 1em;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

label{
    color: white;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.search-link {
    padding: 0.9em;
    margin-top: 2.2em;
    width: 100%;
    max-width: 400px;
}

/* Professors */

.carousel {
    background: rgb(255, 255, 255);
    padding: 0 6%;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
    box-shadow: 10px 10px 10px rgb(230, 230, 230);
    filter: blur(0.5px);
    border: 0.5px solid grey;
    border-style: outset;
    border-radius: 5px;
    filter: blur(3px);
}

.swiper-slide-active {
    filter: blur(0px);
}

.prof-card:hover {
    transform: scale(1.1);
}

.prof-card {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    transition: transform 0.4s;
}

.prof-card span {
    font-size: 1.2rem;
    padding-top: 10px;
}

.prof-card p {
    font-size: 0.9rem;
    color: rgb(155, 151, 151);
}

.card-content .btn {
    margin-top: 20px;
}

.prof-card img {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

/* Graphs */

.graphs {
    padding: 0 6%;
}

/* Footer */

.footer-div {
    background-color: rgb(48, 44, 44);
    color: white;
    font-size: 0.8rem;
    text-align: center;
    padding: 2% 10% 2% 10%;
}

p a:hover {
    color: #aeaeae;
    text-decoration: none;
}

p a,
p a:active {
    text-decoration: none;
    color: inherit;
}
