/* Navbar */

.navbar {
    padding: 0% 10%;
}

.navbar-light .navbar-nav .nav-link {
    color: blue;
}

@media screen and (min-width: 0px) {
    .navbar-brand > img {
        width: 450px;
    }

    .gallery-cell img {
        width: 150px;
        height: 150px;
    }
}

/* Content */

#prof-content {
    padding: 2% 10%;
}

.prof-header-img,
.prof-header-content {
    display: inline-block;
    vertical-align: top;
}

.prof-header-content {
    padding-left: 3%;
}

.prof-header-img > img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.prof-header-content > p {
    font-size: 2.3rem;
    font-weight: 500;
}

.prof-articles {
    padding-top: 3%;
}

.article-header {
    font-size: 1.5rem;
    background-color: rgb(250, 247, 243);
    padding-bottom: 5px;
}

.article {
    box-shadow: 10px 5px 10px 5px #ececec;
    padding-bottom: 5px;
    padding-top: 5px;
}

.article > a {
    font-size: 1.2rem;
}

.article-info {
    font-size: 0.8rem;
    color: grey;
}
