.search-bar{
    width: 100%;
    max-height: 400px;
    background-image: url('../images/homepage.jpg');
}

.dark-overlay {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
    max-height: 400px;
}

input, select {
    padding: 1em;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

label{
    color: white;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.search-link {
    padding: 0.9em;
    margin-top: 2.2em;
    width: 100%;
    max-width: 400px;
}











.paper-card {
    border: 1px solid #eeeeee;
    padding: 1em;
    margin: 1em;
}
.authors {
    display: flex;
    justify-content: space-between;
}

.authors > p, .year > p {
    margin: 0.3em;
    color: grey;
}
.other-info {
    display: flex;
    justify-content: space-between;
}

.tag {
    text-decoration: none;
    background: #E3F4FF;
    color: rgb(3 102 214);;
    margin-top: 0.4em;
    margin-right: 1em;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2em;
    padding: 0.2em 0.8em;
    line-height: 22px;
    transition: 300ms;
}

.tag:hover{
    text-decoration: none;
    cursor: pointer;
    background: #CAF4FF;
}

.pagination-buttons{
    margin: 2em auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.pag-link {
    text-align: center;
    color: #08c;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.8em;
    background-color:rgb(243, 243, 243);
    margin: 0.5em;
    /* -webkit-box-shadow: 0 5px 15px 0 rgb(0 0 0 / 8%); */
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 8%);
    transition: 0.3s;
}


.pag-link:hover{
    text-decoration: none;
    background-color: rgb(220,220,220);
    cursor: pointer;
}

.current-page, .current-page:hover{
    background-color: #08c;
    color: white;
}
.current-page:hover{
    cursor: unset;
}
