.search-bar{
    height: 30vh;
    background-image: url('../images/homepage.jpg');
}

.dark-overlay {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

input, .search-type {
    outline: none;
    border-radius: 120px;
    border: none;
    padding: 0.5em 1em;
    background: white;
    margin: 0.5em;
    box-shadow: none;
}

input{
    width: 600px;
}

.search-type{
    width: 200px;
    padding-top:0.7em;
    padding-bottom:0.6em;
}

.search-link {
    padding: 0.5em 1em;
    width: 200px;
    border-radius: 120px;
    margin: 0.5em;
}

@media screen and (max-width:1400px) {
    .dark-overlay {
        flex-direction: column;
    }
    input {
        width: 450px;
    }
}

.paper-card {
    border: 1px solid #eeeeee;
    padding: 1em;
    margin: 1em;
}
.authors {
    display: flex;
    justify-content: space-between;
}

.authors > p, .year > p {
    margin: 0.3em;
    color: grey;
}
.other-info {
    display: flex;
    justify-content: space-between;
}

.tag {
    text-decoration: none;
    background: #E3F4FF;
    color: rgb(3 102 214);;
    margin-top: 0.4em;
    margin-right: 1em;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2em;
    padding: 0.2em 0.8em;
    line-height: 22px;
    transition: 300ms;
}

.tag:hover{
    text-decoration: none;
    cursor: pointer;
    background: #CAF4FF;
}
